* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
 	display: block;
 	font: 36px/40px "lato";
 	font-weight: bold;
 	color: white;
 	padding-top: 20px;
}

img {
	opacity: 1;
	position: relative;
	left: 670px;
	height: 67px;
	width: auto;
}

body {
	line-height: 1;
	background-color: rgba(50, 50, 50, 1);
}

* {
	-wekit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #333;
}

h1 {
	font: 50px "lato";
	color: white;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 40px;
}

.message {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 26px;
	color: white;
	font-family: "lato";
}

.end-message {
	font-size: 26px;
	color: white;
}

.play-again {
	padding: 10px 20px;
	margin-bottom: 20px;
	font-family: "lato";
	width: 20%;
	font-size: 18px;
	border: 1px solid rgba(250, 250, 250, 1);
	color: rgba(250, 250, 250, 1);
	background-color: rgba(50, 50, 50, 1);
	display: none;
	outline: none;
	transition: background-color .5s ease-in-out;
}

.play-again:hover {
	background-color: limegreen;
}

.playerbox {
	display: inline-block;
	background-color: rgba(150, 150, 150, .9);
	width: 340px;
	height: 400px;
}


#playerbox1 {
	position: relative;
	background-color: rgba(50, 50, 50, 1);
}


#playerbox2 {
	position: relative;
	background-color: rgba(50, 50, 50, 1);
}

.gameboard {
	display: inline-block;
	overflow: hidden;
	background-color: rgba(50, 50, 50, 1);
	width: 400px;
	height: 400px;
}

.gameboard div {
	background-color: rgba(50, 50, 50, 1);
	font-family: "lato";
	font-weight: bold;
	color: white;
	width: 33%;
	height: 33%;
	float: left;
	font-size: 80px;
	line-height: 130px;
	transition: background-color 1s ease-in-out;
}

.gameboard div:hover {
	background-color: limegreen;
	opacity: .8;
}

.rightb {
	border-right: 3px solid white;
}

.bottomb {
	border-bottom: 3px solid white;
}

.player1 {
	color: white;
}

.name1 {
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
	font-family: "lato";
	font-size: 26px;
}

.wins1 {
	display: inline-block;
	position: absolute;
	left: 25px;
	top: 50px;
	color: white;
	font-family: "lato";
	font-size: 26px;
}

.name2 {
	display: inline-block;
	position: absolute;
	left: 60px;
	top: 10px;
	color: white;
	font-family: "lato";
	font-size: 26px;
}

.wins2 {
	display: inline-block;
	position: absolute;
	left: 75px;
	top: 50px;
	color: white;
	font-family: "lato";
	font-size: 26px;
}



